:root {
    column-count: 2;
    --scale: 0.93;
}

.entry {
    break-inside: avoid;
    margin-top: 2mm;
}
.entry-word-pronunciation {
    font-size: calc(9pt * var(--scale));
    font-weight: bold;
    font-family: "Source Han Serif Heavy";
}

.entry-word-transcription {
    font-size: calc(9pt * var(--scale));
    font-weight: bold;
    font-family: "Source Han Serif Heavy";
}

.entry-word-linzklar {
    font-size: calc(12pt * var(--scale));
    font-weight: normal;
    font-family: "linzklar_rounded";
}

.sub {
    margin-top: -1mm;
    line-height: 1;
    margin-left: 4.5mm;
}

.sub-POS {
    /* 子見出し（品詞） */
    font-size: calc(9pt * var(--scale));
    font-family: "Source Han Serif SemiBold";
    font-weight: bold;
}

.sub-definition {
    /* 子見出しの語釈 */
    font-size: calc(9pt * var(--scale));
    font-family: "Source Han Serif";
    line-height: 1.05;
}

div.sample-sentence {
    font-size: calc(9pt * var(--scale));
    margin-top: 1.5mm;
}

.sample-sentence-linzklar {
    font-size: calc(10pt * var(--scale));
    font-family: "linzklar_rounded";
    line-height: 1.05;
}

.sample-sentence-pronunciation {
    font-size: calc(6pt * var(--scale));
    font-family: "Source Han Serif";
    line-height: 1.05;
}

.sample-sentence-transcription {
    font-size: calc(9pt * var(--scale));
    font-family: "Source Han Serif";
    line-height: 1.05;
}

.sample-sentence-translation {
    font-size: calc(9pt * var(--scale));
    font-family: "Source Han Serif";
    line-height: 1.05;
    margin-left: 4.5mm;
}

header {
    float: block-start;
    float-reference: page;
}

@page {
    size: 128mm 182mm
        /* JIS B6 */
    ;
    margin: 5% 10% 2% 10%;

    @top-center {
        content: counter(page);
        font-family: "Times New Roman";
        font-size: 14pt;
    }
}
