:root {
    --scale: 0.9;
}

body {
    font-family: "Source Han Serif";
    column-count: 2;
}

a::after {
    content: target-counter(attr(href url), page);
}

.link_to_char {
    text-align: right;
}

.kana-index-ja {
    font-size: calc(9pt * var(--scale));
    font-weight: bold;
    font-family: "Source Han Serif Heavy";
    line-break: strict;
}

.kana-index-linzklar {
    font-size: calc(12pt * var(--scale));
    font-family: "linzklar_rounded";
    position: relative;
    top: .2em;
    font-weight: normal;
}

h2 {
    float: block-start;
    float-reference: page;
    font-size: calc(20pt * var(--scale));
}

h3 {
    margin-top: 3px;
    margin-bottom: -3px;
    font-size: calc(12pt * var(--scale));
}

a {
    font-size: calc(9pt * var(--scale));
    font-family: "Source Han Serif";
    text-decoration: none;
    color: inherit;
}

.kana-index-latin {
    font-size: calc(8pt * var(--scale));
    font-family: "Times New Roman";
    position: relative;
    top: -.15em;
}