.kana-index-ja {
    font-family: "Source Han Serif";
    line-break: strict; 
}

.kana-index-linzklar {
    font-family: "linzklar_rounded";
    font-weight: normal;
    font-size: 15pt;
}

h3 {
    margin-top: 3px;
    margin-bottom: -3px;
}

a {
    text-decoration: none;
    color: inherit;
}